<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>
<h1>Title <%= title %><small> by <%= author.name%></small></h1>
  <p><%= description %></p>
</div>


  <% for(var i=0; i < elements.length; i++) { %>
  <div  class="responsive">

  <div class="img">

  <!--<a class="" href="<%= elements[i].permalink %>" target="_blank">-->
    <!--<a class = "thumbnail" href="<%= elements[i].data.image.src %>" target = "_blank">-->
  <div class = "thumbnail" >

   <img src = "<%= elements[i].data.image.src %>"
    title = "<%= elements[i].data.image.caption %>" alt = "<%= elements[i].data.image.caption %>"
    />
  <!--</a> -->
  </div>
  <!--<div class="desc">Add a description of the image here</div>-->
  </div>
 </div>
<% } %>


 <div class = "clearfix"></div>
 <div id = "lgbg" class = "lightBoxBg"></div>
<div id = "lg" class="lightBox">
  <span id = "prev" class = "prev"><i class="fa fa-arrow-left fa-3x"" aria-hidden="true"></i>
</span>
  <img id = "lgImage" src = "" />
  <span id = "next" class = "next"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
</span>
</div>
<footer>
    <% include ../partials/footer %>
</footer>


<script src="assets/js/main.js"></script>

</body>
</html>

